@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
/*
    tipografias
    font-family: 'Cinzel', serif;
    font-family: 'Great Vibes', cursive;
*/
/* ´´´´´´´´´ INDEX ´´´´´´ */
.gridsIndex{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr 9fr 1fr/repeat(3,3fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
header{
    grid-area: header;
    width: 100%;
    background-color: rgb(13, 52, 45);
    display: flex;
    justify-content: center;
}
header h1{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    justify-content: center;
}
.navbar{
    display: flex;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-family: 'Cinzel', serif;
    gap: 5rem;
}
nav ul li a{
    text-decoration: none;
    display: inline;
    color: white;
    font-size: 1.0625rem;

}
nav ul li a:hover{
    font-size: 1rem;
    color: black;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: grid;
}
.intermedia{
    display: flex;
    grid-column:2/5;
    grid-row:1/3;
    justify-items: center;
    align-items: center;
    align-content: center;
    object-fit:cover;
    align-self: center;
    padding-top: 2.5rem;
}
.texto{
    grid-column:2/5;
    grid-row:3/4;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr / 1fr 1fr;
    font-family: 'Cinzel';
    text-align: center;
}
h2{
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    padding-top: .625rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    text-align: center;
    color: white;
}
.texto ul li{
    list-style: none;
}
.texto ul li p{
    color:white
}
footer{
    grid-area: footer;
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: center;
}
.pieDePagina{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    row-gap: 20px;
    text-align: center;
    align-items: center;
}
.pieDePagina ul{
    list-style: none;
    display: flex;
    gap: 3.75rem
}
/* ´´´´´´´´´ACA ESTABLECI EL GRID DEL HEADER MAIN Y FOOTER PARA TODAS LAS PAGINAS´´´´´´ */
.gridCalzado{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr 9fr 1fr/repeat(3,3fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
.gridEssensiales{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr 9fr 1fr/repeat(3,3fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
.gridJackets{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr 9fr 1fr/repeat(3,3fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
.gridRemeras{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr 9fr 1fr/repeat(3,3fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
/* ´´´´´´´´´PAGINA REMERAS ´´´´´´ */
.gridRemeras main{
grid-template-columns: repeat(5,12.5rem);
grid-template-rows: repeat(10,12.5rem);
}
.gridRemeras .primera{
    grid-column:2/5;
    grid-row:2/4;
}
.gridRemeras .segunda{
    grid-column:2/5;
    grid-row:5/7;
}
.gridRemeras .tercera{
    grid-column:2/5;
    grid-row:8/10;
}
.gridRemeras .textoPrimero{
    grid-column:2/5;
    grid-row:1/2;
    text-align: center;
    padding-top: 2rem;
}
.gridRemeras h2{
    color:white;
    font-size: 2rem;
    text-align: center;
}
.gridRemeras .textoPrimero ul{
    list-style: none;
}
.gridRemeras .banner{
    grid-column:2/5;
    grid-row:4/5;
}
.gridRemeras .bannerMid{
    grid-column:2/5;
    grid-row:7/8;
}
.gridRemeras .bannerfinal{
    grid-column:2/5;
    grid-row:10/11;
}
/* ´´´´´´´´´PAGINA CALZADO ´´´´´´ */
.gridCalzado main{
    grid-template-columns: repeat(5,12.5rem);
    grid-template-rows: repeat(10,12.5rem);
}
.gridCalzado .primera{
    grid-column:2/5;
    grid-row:2/4;
}
.gridCalzado .segunda{
    grid-column:2/5;
    grid-row:5/7;
}
.gridCalzado .tercera{
    grid-column:2/5;
    grid-row:8/10;
}
.gridCalzado .textoPrimero{
    grid-column:2/5;
    grid-row:1/2;
    text-align: center;
    padding-top: 2rem;
}
.gridCalzado h2{
    color:white;
    font-size: 2rem;
    text-align: center;
}
.gridCalzado .textoPrimero ul{
    list-style: none;
}
.gridCalzado .banner{
    grid-column:2/5;
    grid-row:4/5;
}
.gridCalzado .bannerMid{
    grid-column:2/5;
    grid-row:7/8;
}
.gridCalzado .bannerfinal{
    grid-column:2/5;
    grid-row:10/11;
}
/* ´´´´´´´´´PAGINA JACKETS ´´´´´´ */
.gridJackets main{
    grid-template-columns: repeat(5,12.5rem);
    grid-template-rows: repeat(10,12.5rem);
}
.gridJackets .primera{
    grid-column:2/5;
    grid-row:2/4;
}
.gridJackets .segunda{
    grid-column:2/5;
    grid-row:5/7;
}
    .gridJackets .tercera{
    grid-column:2/5;
    grid-row:8/10;
}
.gridJackets .textoPrimero{
    grid-column:2/5;
    grid-row:1/2;
    text-align: center;
    padding-top: 2rem;
}
.gridJackets h2{
    color:white;
    font-size: 2rem;
    text-align: center;
}
.gridJackets .textoPrimero ul{
    list-style: none;
}
.gridJackets .banner{
    grid-column:2/5;
    grid-row:4/5;
}
.gridJackets .bannerMid{
    grid-column:2/5;
    grid-row:7/8;
}
.gridJackets .bannerfinal{
    grid-column:2/5;
    grid-row:10/11;
}
/* ´´´´´´´´´PAGINA ESSENSIALES ´´´´´´ */
.gridEssensiales main{
    grid-template-columns: repeat(5,12.5rem);
    grid-template-rows: repeat(10,12.5rem);
}
.gridEssensiales .primera{
    grid-column:2/5;
    grid-row:2/4;
}
.gridEssensiales .segunda{
    grid-column:2/5;
    grid-row:5/7;
}
.gridEssensiales .tercera{
    grid-column:2/5;
    grid-row:8/10;
}
.gridEssensiales .textoPrimero{
    grid-column:2/5;
    grid-row:1/2;
    text-align: center;
    padding-top: 2rem;
}
.gridEssensiales h2{
    color:white;
    font-size: 2rem;
    text-align: center;
}
.gridEssensiales .textoPrimero ul{
    list-style: none;
}
.gridEssensiales .banner{
    grid-column:2/5;
    grid-row:4/5;
}
.gridEssensiales .bannerMid{
    grid-column:2/5;
    grid-row:7/8;
}
.gridEssensiales .bannerfinal{
    grid-column:2/5;
    grid-row:10/11;
}