.error{
    display: grid;
    width:100%;
    height:100vh;
    background-color: black;
    grid-template:1fr 9fr 1fr/3fr 3fr 3fr;
    grid-template-areas: 
    ". . ."
    ". centro ."
    ". . . "
    ;
    .card{
        grid-area: centro;
        button{
            display: inline-block;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-image: linear-gradient(to right,   #7b1e1e, #030a08);
            color: white;
            transition: transform 0.3s;
            a{
                text-decoration:solid;
                color: white;
            }
        }
    }
    .card{
        button:hover {
            transform: scale(0.9);
        }
    }
}

