h2{
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    padding-top: .625rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    text-align: center;
    color: white;
}
.card-body{
    button {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-image: radial-gradient(circle, rgba(96,60,75,1) 0%, rgba(0,0,0,1) 100%);
        color: white;
        transition: transform 0.3s;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.card-body{
    button:hover {
        transform: scale(1.1);
    }
}
