@media(max-width:700px){
    .gridsIndex{
        main{
            margin-top:0rem;
        }
    }
    header{
        .principal{
                nav{
                    div{
                        ul{
                            gap: 1rem;
                            display: flex;
                            flex-direction: column;
                        }
                    }    
                }
            }   
        }
    main{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }
    .gridRemeras{
        main{
            .primera{
                padding-bottom: 0rem;
            }
            .banner{
                padding-bottom: 0rem;
            }
            .segunda{
                padding-top: 0rem;
            }
            .tercera{
                padding-top: 5rem;
            }
            .bannerFinal{
                padding-top: 0rem;
            }
        }
        footer{
            padding-top:0rem;
        }
    }
    .gridCalzado{
        main{
            .primera{
                padding-bottom: 0rem;
            }
            .banner{
                padding-bottom: 0rem;
            }
            .segunda{
                padding-top: 0rem;
            }
            .tercera{
                padding-top: 3rem;
            }
            .bannerFinal{
                padding-top: 0rem;
            }
        }
        footer{
            padding-top:0rem;
        }
    }
    .gridJackets{
        main{
            .primera{
                padding-bottom: 0rem;
            }
            .banner{
                padding-bottom: 0rem;
            }
            .segunda{
                padding-top: 0rem;
            }
            .tercera{
                padding-top: 5rem;
            }
            .bannerFinal{
                padding-top: 0rem;
            }
        }
        footer{
            padding-top:0rem;
        }
    }
    .gridEssensiales{
        main{
            .primera{
                padding-bottom: 0rem;
            }
            .banner{
                padding-bottom: 0rem;
            }
            .segunda{
                padding-top: 0rem;
            }
            .tercera{
                padding-top: 5rem;
            }
            .bannerFinal{
                padding-top: 0rem;
            }
        }
        footer{
            padding-top:0rem;
        }
    }
    .gridFormulario{
        main{
            margin-top: 0rem;
        }
    }
} 