@media (max-width:950px){
    header {
        .principal{
            nav{
                div{
                    ul{
                        gap: 2rem;
                        color:red
                    }
                }
            }
        }
    }
    .gridFormulario{
        header{
            ul{
                display: flex;
                flex-direction:column;
                gap:1rem;
            }
        }
    }
}