@media (max-width:320px){
    main{
        .formularioLogin{
        width:50%;
        }
    }
    .gridCalzado .tercera {
        padding-top:0rem;
    }
    .gridCalzado .bannerfinal {
        padding-top:0rem;
    }
    .gridCalzado .primera {
        padding-bottom: 0rem;
    }
    .gridJackets .tercera{
        padding-top: 0rem;
    }
    .gridJackets .bannerfinal{
        padding-top: 0rem;
    }
    .gridJackets .primera{
        padding-bottom: 0rem;
    }
    .gridEssensiales .tercera{
        padding-top: 0rem;
    }
    .gridEssensiales .bannerfinal{
        padding-top: 0rem;
    }
    .gridEssensiales .primera{
        padding-bottom: 0rem;
    }
    .gridRemeras .tercera{
        padding-top: 0rem;
    }
    .gridRemeras .bannerfinal{
        padding-top: 0rem;
    }
    .gridRemeras .primera{
        padding-bottom: 0rem;
    }
}